.new_post {
    background-color: yellow !important;
}

.post {
    background-color: #d3d3d3;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

header {
    background-color: #d3d3d3;
}

#div_display_question h1{
    color: blue;
}

#div_display_question h2{
    margin-left: 2em;
}

.post p {
    margin-left: 2em;
}

a:visited, a {
    text-decoration: none;
    color: blue;
}